/* Styles */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
    font-family: 'Cabin', sans-serif;
}

#location {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    padding: 5px;
}
#distance {
	padding: 5px;
}

div#map {
	margin: 5px!important;
	width: 100%!important;
	min-height: 500px!important;
    margin: 0 auto!important;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(51,51,51,0.37);
    -moz-box-shadow: -1px 2px 5px 1px rgba(51,51,51,0.37);
    box-shadow: -1px 2px 5px 1px rgba(51,51,51,0.37);
}